.b-affiliate
  display flex

  &__address
    margin-right 20px
    margin-bottom 10px
    font-size $h5-font-size

  &__phones
    font-size $h4-font-size
    text-align right

  &__phone
    white-space nowrap

