.b-order-list
  margin 0 auto

  &__item
    box-shadow 1px 1px 5px 0 rgba($bs-dark,.5)
    background $bg-light
    transition box-shadow .2s ease-out, background-color .2s ease-out

    &:hover
      box-shadow 1px 1px 8px 0 rgba($bs-dark,.5)
      background-color rgba($bg-light,.9)

    .i-open-lock
    .i-close-lock
      fill $bg-dark
