.b-product-list
  color $c-light

  &__summary
    margin-bottom 10px
    font-size $h5-font-size
    text-align right

    &_bottom
      margin-top 10px

  &__cost
    font-size $h4-font-size
    font-weight bold
