<span class="b-blank__icon">{{i-empty-dish}}</span>
<h2 class="b-blank__title">Упс! Заказ пуст :(</h2>
<p class="b-blank__text">
  Добавте свою заявку первым, а остальные скоро последуют вашему
  примеру.
</p>
