<span class="b-blank__icon">{{i-empty-dishes}}</span>
<h2 class="b-blank__title">Всё съедено!</h2>
<p class="b-blank__text">
  У вас нет ни&nbsp;одного заказанного блюда. Создайте новый заказ или
  присоединитесь к уже существующему.
</p>
