<span class="b-blank__icon">{{i-empty-dishes}}</span>
<h2 class="b-blank__title">Нет ни одного заказа</h2>
<p class="b-blank__text">
  Похоже что никто кроме вас не&nbsp;хочет есть. Самое время пробудить
  в них аппетит, создав новый&nbsp;заказ.
</p>
