<div class="b-product b-product-group__grouper">
  <div class="b-product__image"></div>
  <div class="b-product__body">
    <div class="b-product__name">{{product.name}}</div>
    <div class="b-product__text">{{product.text}}</div>
  </div>
  <div class="b-product-cost b-product-cost_right b-product__cost">
    <div class="b-product-cost__total">{{format-currency productTotalCost}}</div>
  </div>
</div>

<ul class="b-list b-product-group__list">
  {{#each productOrders as |order|}}
    {{b-product-group-order order=order product=product portions=portions}}
  {{/each}}
</ul>
