<button class="b-input-group__item b-input-group__button button">-</button>
<input class="b-input-group__item b-input-group__control
              b-product-quantity__control" type="tel">
<button class="b-input-group__item b-input-group__button button">+</button>
