<span class="b-product-cost__value">{{product.cost}}</span>
<span class="b-product-cost__quantity">×&nbsp;{{productQuantity}}&nbsp;=</span>
<span class="b-product-cost__total b-product-cost__total_muted">{{format-currency productTotalCost}}</span>
