<form class="f-default f-portion">

  <h2 class="f-default__title f-portion__title">Добавить к заказу</h2>

  <div class="b-order">
    {{b-order-description order=order}}
  </div>

  <h3 class="f-portion__subtle">
    Выберите любые понравившиеся блюда, чтобы добавить их к заказу
  </h3>

  <ul class="b-list b-product-list">
    {{#each products as |product|}}
      <li class="b-list__item">
        {{b-product product=product add=(action 'addToOrder' order)}}
      </li>
    {{/each}}
  </ul>
</form>
