.f-product

  &__title
    @media $max767
      font-size $h2-font-size
      margin-bottom 10px

  &__subtle
    font-size $h3-font-size
    margin-bottom 10px
    text-align center

  &__field
    margin-bottom 15px
    font-size $h4-font-size
    text-align center
    color $c-light
    border-bottom-color $bg-light

    &::placeholder
      font-size inherit
      color inherit
