<ul class="b-list b-vendor-list">
  {{#each model as |vendor|}}
    <li class="b-list__item b-vendor">
      <div class="b-vendor__info">
        <span class="b-vendor__title">{{vendor.title}}</span>
        <span class="b-vendor__cost">
          Минимальная сумма заказа {{format-currency vendor.minOrderCost}}
        </span>
      </div>
      <a href="{{vendor.url}}" target="_blank"
         class="b-vendor__link">{{vendor.url}}</a>
    </li>
  {{/each}}
</ul>

{{#link-to "new-vendor" aria-label="add new vendor" class="btn-new-order"}}{{/link-to}}
