.button
  line-height $line-height
  text-align center
  width 100%
  margin 0 auto
  display block
  font-size $h5-font-size
  font-weight 700
  min-width 38px
  padding 8px 15px
  border-radius 3px
  box-shadow 1px 1px 5px 0 rgba($bs-dark,.5)
  transition box-shadow .2s ease-out, background .2s ease-out
  text-transform uppercase

  &:hover
    box-shadow 1px 1px 8px 0 rgba($bs-dark,.5)
    background rgba($bg-action,.66)

  &_submit
    background $bg-action
    color $c-light
    text-decoration none

    &:hover
      background rgba($bg-action,.66)
