.i-noodles
.i-empty-dishes
.i-empty-dish
.i-order-list
.i-settings
.i-vendors
.i-logout
  fill $grD
  width 25px
  height 25px
  display block
  margin 0 auto 5px

.i-logout
  width 19px
  height 20px

.i-open-lock
.i-close-lock
  vertical-align middle
  display inline-block
  margin-left 7px
  width 24px
  height 24px
  fill $bg-light

